body{
  margin: 0;
}

aside{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  background-color: #f1f1f1;
}
ul{
  margin: 0;
  padding: 0;
}
ul a{
  font-family: Helvetica Neue;
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5% 0 0 5%;
}
ul a.active {
  background-color: #4CAF50;
  color: white;
}

ul a:hover:not(.active) {
  background-color: #555;
  color: white;
}

section{
  margin-left:20%;
  margin-top: 0;
  padding:1px 16px;
  height:1000px;
}


