*{
	color: #fff;
}
.bg{
	background: url('../../recursos/ciudad-de-noche.jpg') no-repeat;
	width: 100%;
	height: 100vh;
}

.form-login{
	border: 1px solid;
	padding: 30px 40px;
	margin-top: 20vh;
	-webkit-box-shadow: 3px 2px 38px 11px rgba(0,0,0,1);
	-moz-box-shadow: 3px 2px 38px 11px rgba(0,0,0,1);
	box-shadow: 3px 2px 38px 11px rgba(0,0,0,1);
}

